@CHARSET "UTF-8";

body {
	background-color: #cb2026;
	background-image: none;
}

.centered {
	text-align: center;
}

#navbar-collapse {
	display: none !important;
}

#content>h3 {
	margin-top: 0;
	text-align: center;
}

#questionnaire-intro {
	border-bottom: 1px dashed #000000;
}

#questionnaire-errors {
	margin-top: 10px;
	margin-bottom: 10px;
}

#questionnaire-form section:not(:nth-of-type(1)):not(:nth-of-type(2)) {
	border-top: 1px solid black;
}

#questionnaire-form .clearfix:first-of-type {
	border-bottom: 1px solid black;
}

#questionnaire-form section>h5, #questionnaire-form section>div {
	padding-top: 10px;
	padding-bottom: 10px;
}

#questionnaire-form section>h5 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

#questionnaire-form section>div label {
	font-weight: inherit;
}

#questionnaire-form section>div label:first-of-type {
	padding-top: 0;
}

#questionnaire-form .checkbox {
	padding-top: 0 !important;
}

#questionnaire-form input[type="text"] {
	width: 100%;
}

#questionnaire-form #majors {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

#questionnaire-form #submit-div {
	text-align: center;
	margin-bottom: 20px;
}

#questionnaire-form label {
	text-align: left !important;
}

#math-placement-test-intro {
	border-bottom: 1px dashed #000000;
	font-style: italic;
	margin-bottom: 20px;
}

#math-placement-test .math-q {
	padding-bottom: 10px;
}

#math-placement-test .math-q:not(:first-of-type) {
	border-top: 1px dotted #000000;
	padding-top: 10px;
}

#math-placement-test .math-q .math-q-img {
	max-width: 100%;
}

#math-placement-test #unanswered {
	/* Only display "unanswered" warning when JavaScript determines it's appropriate. */
	display: none;
}

#math-placement-test .bottom-bar {
	background-color: rgba(224, 224, 224, 0.90);
	bottom: 0;
	display: block;
	left: 0;
	padding: 5px;
	position: fixed;
	width: 100%;
}

#math-placement-test .bottom-bar #timeInfo {
	font-size: large;
}

#math-placement-test .bottom-bar #timeRemaining {
	/* Only display minutes remaining if JavaScript can update it. */
	display: none;
}

#math-placement-test .bottom-bar #minsRemain {
	font-weight: bold;
}

#math-placement-test .bottom-bar #saveProgress {
	float: right;
}

#math-placement-results table {
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

#math-placement-results table th {
	text-align: center;
}

#math-placement-results table th, #math-placement-results table td {
	vertical-align: middle;
}
